[2017-11-09 20:45] ithowest opened #1 "no data"
Hi,

cool project!!! But I seem to be failing somewhere. I'm a sysadm, not a dev guy :)
The webserver runs and I can see the room lists. I've created a user and gave this user full access to ALL room mailboxes in our office365 tenant.
In the  nodejs logging it finds the room mailboxes but I keep getting the loading button? Any ideas?

Thx
Koen

[2017-11-09 22:08] danxfisher commented on #1
I believe this could be related to a change I made and pushed in documentation prior to actually implementing it, heh.  In the `config/auth.js`, for the "Domain", don't include the .com, .co.uk, etc.  I accidentally pushed the change to that file before I made a change to the code.  Let me know if that helps.

[2017-11-15 14:25] Redwards5 opened #2 "Grey page"
Hello,

When browsing to http://localhost:8080 the page loads for a second and in the list I can see all our offices but then the page quickly clears and I'm left with just a grey blank page.

I noticed I keep getting the below error as well.

![image](https://user-images.githubusercontent.com/33692620/32840866-c84dcf42-ca10-11e7-9226-de5e1fc584ac.png)

Any suggestions?

Cheers,
Ryan

[2017-11-15 18:26] danxfisher commented on #2
This typically is a response when the account you're using as the service account (account in `config/auth.js`) does not have full permissions to the calendar of the room/mailbox.

See: https://stackoverflow.com/questions/29517641/ews-api-2013-calendar-the-specified-folder-could-not-be-found-in-the-store or https://social.msdn.microsoft.com/Forums/exchange/en-US/ef3baa27-d3cc-45c4-87be-c70e59663b3

[2017-11-16 14:30] Redwards5 commented on #2
Hello,

Thanks, I now no longer see those error messages. However, the screen still only displays for a second and then disappears showing a grey page, I've tried IE and firefox. Would you have any more suggestions?

![image](https://user-images.githubusercontent.com/33692620/32896305-99ce043c-cada-11e7-868d-d755fbe99590.png)

I'll admit I'm a sys admin and a bit of a noob with this.

Thanks again

[2017-11-16 18:13] yscotty opened #3 "On-prem exchange"
I took the advise of the reddit post and attempted this with our on-prem exchange (both 2013 and 2016 servers) just to see if it works (and for fun).
Changing "var exch = new ews.ExchangeService(ews.ExchangeVersion.Exchange2016);" to accommodate either 2013 or 2016 EWS setups did seem to get it to work somewhat.  I tried both 2013 and 2016 server EWS uri's.   It works "up to a point".

The termina

[2017-11-16 18:40] danxfisher commented on #3
Could you hit F12 in the browser window and post the "Console" section of the browser log?  Thanks.

[2017-11-16 18:41] danxfisher commented on #2
Are all of the mailboxes located in the cloud?  Also, could you hit F12 in the browser window and post the "Console" section of the browser log?  Thanks.

[2017-11-16 19:21] yscotty commented on #3
http://localhost:8080/socket.io/?EIO=3&transport=polling&t=L_6HJMm net::ERR_CONNECTION_REFUSED
i.create @ polling-xhr.js:264
i @ polling-xhr.js:165
o.request @ polling-xhr.js:92
o.doPoll @ polling-xhr.js:122
r.poll @ polling.js:118
r.doOpen @ polling.js:63
r.open @ transport.js:80
r.open @ socket.js:245
r @ socket.js:119
r @ socket.js:28
r.open.r.connect @ manager.js:226
r @ manager.js:69
r @ mana

[2017-11-16 21:13] JoanneBlomert commented on #1
Hi Dan, also having an issue. Installed as per the instructions and get a spinning icon in the middle of the screen that doesn't go away. Also a sysadmin and not a developer. Tried the config/auth.js edit you mentioned about but no go.
![meet easier](https://user-images.githubusercontent.com/33734535/32915610-b95ef2a6-cad6-11e7-9487-65db6bd4390f.png)

[2017-11-17 07:46] danxfisher commented on #1
@JoanneBlomert could you hit F12 in the browser to bring up the developer window and copy/paste what you see in the "Console" section.  Also, anything that you can copy/paste from the server terminal window would be helpful, too.  Thanks!

[2017-11-17 07:52] danxfisher commented on #3
I will try and look at my old code tomorrow and see if there's anything that can help there.  Previously, I had this working with on-prem 2010 SP2.  Did you attempt to change the port of the server at all?

[2017-11-17 10:30] Redwards5 commented on #2
Hello, yes all the mailboxes are in the cloud.

Here is the Console browser log:

DOM7011: The code on this page disabled back and forward caching. For more information, see: http://go.microsoft.com/fwlink/?LinkID=291337
localhost:8080
HTML1300: Navigation occurred.
localhost:8080
socket connect at: http://localhost:8080
=====================================
TypeError: Unable to get property 'map'

[2017-11-17 14:27] RNDnick commented on #1
Hi, I have the same issue as above, the output from the Console section is this:
socket connect at: http://localhost:8080

[2017-11-17 15:50] JoanneBlomert commented on #1
Hi Dan, thanks for the quick reply. Was able to get this resolved. I didn’t have the room list built in Office 365 so that’s what the problem was.

Thank you,

Joanne Blomert
Helpdesk / SharePoint Administrator

The Association of Professional Engineers and Geoscientists of Alberta (APEGA)
1500 Scotia One, 10060 Jasper Ave.
Edmonton, AB T5J 4A2
PH 587-489-1538
TOLL-FREE 800-661-7020
FAX 780-425-17

[2017-11-17 18:33] danxfisher commented on #2
So the three main things I would check are:

- The service account you put in the `auth.js` file must have full access to all room mailboxes
- The service account must also be an account/mailbox on Exchange online
- The roomlists must be in Exchange online (cloud)

The page will also not load if any rooms/roomlists on the same domain are *not* in Exchange online.  Check those things first.  Thanks

[2017-11-17 21:53] Gavinr98 commented on #1
Having the same issue, on-prem Exchange just get the spinning wheel. Get this in the dev console ---socket connect at: http://localhost:8080

[2017-11-17 22:40] danxfisher commented on #1
@Gavinr98 your issue may be because the XMLHttpRequest includes accents (é,à,ç, ...).  Do any of your meetings or names include accented characters?

[2017-11-17 22:42] danxfisher commented on #1
@RNDnick I would check this following:

- The service account you put in the `auth.js` file must have full access to all room mailboxes
- The service account must also be an account/mailbox on Exchange online
- The roomlists must be in Exchange online (cloud)

The page will also not load if any rooms/roomlists on the same domain are *not* in Exchange online.  Check those things first.  Thanks.  I

[2017-11-17 22:51] Gavinr98 commented on #1
No, no accents in the account. I do also see this in the ssh session after I refreshed the page. I did make sure that the account has full permissions on each calendar as well.

Error in calling service, error code:401
server: Microsoft-IIS/8.5
request-id: d08231b1-6531-4218-88b4-0f4f1cbb6a9d
www-authenticate: Negotiate, NTLM
x-powered-by: ASP.NET
x-feserver: EXCHANGESERVERNAME
date: Fri, 17 Nov 2

[2017-11-17 22:53] Gavinr98 commented on #1
I do also see that it is pulling in the Room List, just does not display anything and the wheel just spins.

[2017-11-17 23:25] danxfisher commented on #1
@Gavinr98 ah this could be an IIS issue.  I have it running on IIS but it is using a module called IISNode.  I might need to test this on a server without it to see if it's possible.  I'm going to open a new issue for it.

[2017-11-17 23:26] danxfisher opened #4 "Issue with IIS without IISNode"
[code]

@Gavinr98 we can continue conversation here.

[2017-11-18 05:26] danxfisher commented on #4
It seems like NTLM authentication may be the issue.  I'll take a look at the authentication on my server this weekend.

[2017-11-19 11:41] DaniESLUG commented on #2
I had the same issue, and it started to work after create an event in all rooms.
After it I removed/canceled the event and now works perfect

[2017-11-20 08:54] RNDnick commented on #1
Hi @danxfisher, thanks for replying. I'm sure all of your criteria is met, however, we are on Hybrid Exchange and some of those rooms were created on Exchange on-premise before being moved to Online. Do we think this could mnake a difference?

[2017-11-20 09:31] Redwards5 commented on #2
Hello @danxfisher
The service account has full access to all room mailboxes, I used a PowerShell script to do this and randomly checked a few to ensure it worked.
The service account is a "normal" user account as such with an account and mailbox in Office 365.
The roomlists as well as the rooms are all Exchange Online.

Since we have multiple domains a few of the rooms use a different domain name,

[2017-11-20 12:51] clausmoell commented on #3
I have the exact same issue. On-prem Exchange 2013. Website with roomlists are visible, but not clickable. No information is shown.

[2017-11-21 01:11] danxfisher commented on #1
@RNDnick it shouldn't as I think that's how my rooms were created.  Do you have multiple domains by chance?

[2017-11-21 01:11] danxfisher commented on #2
@Redwards5 This unfortunately won't skip them while searching via EWS, it only hides them in the front end.  I will work on a multi-domain fix in the next week.

[2017-11-21 01:46] danxfisher commented on #3
@clausmoell @yscotty A few more things--I apologize for all the unknowns as I didn't have multiple environments to test this:

- Are you running MeetEasier on a linux web server or IIS?
- Do you have multiple domains?
- Have the meeting rooms had meetings booked previously or are they brand new?

[2017-11-21 07:15] qbihay opened #5 "WebPage not updated auto"
Hello,

First at all, a big thanks for your works.

I have a small issue and I don't know why.
On the page, I can see all the room but it's not refresh automatically.
The config/controller.js.,it is set to 1 minute (the default value).

Regards

[2017-11-21 07:47] RNDnick commented on #1
Multiple domain, yes and just noticed one has an email address with the .onmicrosoft.com part. Do we think this will be the issue?

[2017-11-21 07:48] clausmoell commented on #3
Hi Dan
1. It's running on Ubuntu server.
2. No - only one domain.
3. The meeting rooms have been in use for a long time. No new meeting rooms.

[2017-11-21 08:05] RNDnick commented on #1
I've changed the primary address on that room anyways, though still doesn't seem to have made a difference.

[2017-11-21 09:15] Redwards5 commented on #2
@danxfisher excellent, thank you so much!

[2017-11-21 09:21] oskari opened #6 "Roomlist requirement?"
Could this made to work without rooms being organized to room lists? As in, why is there such a requirement? I'm not familiar with the O365 Api but for my use I would just be fine with it fetching all rooms and having a black/whitelist feature for showing / hiding them.

[2017-11-21 11:47] oskari opened #7 "The specified folder could not be found in the store ?"
I'm succesfully retrieving room lists and I can see it finds all the rooms but after that I get following error:

[code]

[2017-11-21 17:24] yscotty commented on #3
Yes, sorry. Fresh Ubuntu build. 8080 port. One primary domain.

[2017-11-22 09:06] ithowest commented on #1
Hi,
In my case I had to change the primary address of all my room mailboxes to the same domain name.
I had a couple of room mailboxes with the onmicrosoft.com suffix. That solved the configuration issue, but the api return in 9/10 requests "null" and in 1/10 refreshes I receive the data and the dashboard works.
@RNDnick what do you get in the console of your browser?

[2017-11-22 11:12] RNDnick commented on #1
@ithowest socket connect at: http://localhost:8080
though the bottom of the output on the web server does include a Null:
Body:
  {  __prefix: 's',
      GetRoomListsResponse:
          {  __prefix: 'm',
             __type: 'GetRoomListsResponse',
             ResponseClass: 'Success',
             ResponseCode: 'NoError',
             RoomLists: null } } }

[2017-11-22 19:40] jtrimble613 commented on #5
Yes, this is an awesome tool, thanks!  I also don't seem to be able to get refresh working.

JT

[2017-11-23 06:31] qbihay commented on #5
I write a little workaround to have the auto-refresh work.
On the html page, I've added the <meta http-equiv="refresh" content="30">

[2017-11-24 10:14] am-jo-zt commented on #6
Room lists do make sense if you have offices at different locations.

From what I have seen, it already is possible to blacklist meeting rooms. See `ui-react/src/config/flightboard.config.js`. However, I'd appreciate configuration at a more central place (in project root) and the rooms should be filtered by the server, not by the client.

[2017-11-24 10:20] am-jo-zt commented on #7
If this error prevents you from receiving anything on the frontend, you might want to have a look at pull request #12

It will not resolve this error (which presumably results from an authorization-issue in O365), but it will allow you to list up the rooms despite the error. To fliter out those rooms, you can blacklist them in `ui-react/src/config/flightboard.config.js` until there is a better sol

[2017-11-24 12:22] am-jo-zt commented on #2
@Redwards5 Pull request #12 should show you the page, even when this error occurs (rooms with errors will be marked with `Error` and the message as tooltip)

[2017-11-26 06:10] miltongoh commented on #1
Hi,

Try installing this on my Ubuntu 16.04 VM and have a couple of issues, not sure if you have encountered this before.

![meeteasier_issue_01](https://user-images.githubusercontent.com/6261496/33237609-6e59ad5c-d2b3-11e7-80fc-97ef3af1e36c.PNG)

The moment I hit the URL (http://<server ip>:8080/ and the top navigation loads for a bit and it just disappear leaving the black background only.

[2017-11-27 17:03] Gavinr98 commented on #3
Also having the same issue. Single domain also on Ubuntu 16.04. Not using IIS.

[2017-12-06 11:31] Redwards5 commented on #2
@danxfisher @am-jo-zt will the changes to pull request #12 be submitted to the overall source code? again, i'm new to this so not sure how to get the changes from pull request 12 into the code I've already originally downloaded. Thanks again for your help and patience!

[2018-02-01 04:44] DrEverythingllBeAlright commented on #5
in ui-react/package.json file and /ui-react/src/config/flightboard.config.js, change localhost to ip address; i had overlooked this as well

[2018-02-07 14:36] Smus opened #16 "Question: Exchange Server 2013"
Hi, is there any change that its possible to modify the code so it works with Exchange Server 2013? Or is that just not possible?

At the moment im getting
[code]

[2018-02-08 10:45] #16 closed

[2018-02-14 13:58] qbihay opened #17 "Issue on iPad with iOS 9.x"
The display of the date don't show the day of the meeting

[2018-02-28 07:30] CloudHoang opened #18 "npm run build - Compiled with warnings."
Hi danxfisher,
I really interesting on your project and I try build one for my company.
But I got this while complied it as the picture below!
![image](https://user-images.githubusercontent.com/36913879/36775207-b49ac556-1c93-11e8-8e39-a468be7f0cc9.png)
Sorry I not good at coder so I cannot fix it.
Can you help me?
Thanks so much!

[2018-04-01 05:45] zhaonanyny007 commented on #3
Is it resolved? Recently, I am looking for a solution to better manage our meeting rooms and we're planing the Exchange system.

[2018-04-27 21:05] mstallmeyer opened #19 "How to increase font size under upcoming events?"
Love the implementation.  We are operating with a smaller display screen and the font under the "upcoming" scheduled events section is too small to be readable.  We tried editing the global scss file, specifically the td.up_meeting-time font size to 1.7 vw, however the changes seem to not be applying to the displayed content.  Any suggestions?  Thanks.

[2018-05-09 14:39] Gtaucher commented on #1
Hello,
I'm having this problem.

Failed to load resource: net::ERR_CONNECTION_REFUSED
polling-xhr.js:263 GET http://localhost:8080/socket.io/?EIO=3&transport=polling&t=MD5IkiX 0 ()
i.create @ polling-xhr.js:263
i @ polling-xhr.js:165
o.request @ polling-xhr.js:92
o.doPoll @ polling-xhr.js:122
r.poll @ polling.js:118
r.doOpen @ polling.js:63
r.open @ transport.js:80
r.open @ socket.js:245
r @ socke

[2018-05-09 15:14] Gtaucher opened #20 "ERR_CONNECTION_REFUSED"
Hello,
I'm having this problem.

Failed to load resource: net::ERR_CONNECTION_REFUSED
polling-xhr.js:263 GET http://localhost:8080/socket.io/?EIO=3&transport=polling&t=MD5IkiX 0 ()
i.create @ polling-xhr.js:263
i @ polling-xhr.js:165
o.request @ polling-xhr.js:92
o.doPoll @ polling-xhr.js:122
r.poll @ polling.js:118
r.doOpen @ polling.js:63
r.open @ transport.js:80
r.open @ socket.js:245
r @ socke

[2018-05-22 21:30] 9uan9 opened #21 "Meeting Title not displaying"
I think I have everything set up correctly as everything is working great.  Except that the title of the meeting does not display.  Instead it displays the meeting organizers name.  The issue is the same under Upcoming.  Where can I edit what elements are displayed?  Thanks

[2018-05-29 03:09] Sportsgraphics commented on #3
Not sure if its related.. I just tried it and noticed a 401 error.  Its trying to use Basic Authentication which has been disabled on the onprem server as it is insecure..  Not sure if this can be changed to use something more robust ?

[2018-06-05 09:39] sunkehappy commented on #1
@RNDnick Have you solved your problem? I have the same issue. Empty room list. But I can see the meeting room via Microsoft Outlook on Windows when trying to send meeting request. Don't know what's wrong.

[2018-06-22 13:56] dyabolik004 opened #23 "back button on display page"
Hello, i have added a back button on display page but the nav bar gets stuck and not update! If i refresh the page it works:
`  <Link to={''}>
                                <i className="fi-arrow-left"></i>
                              </Link>`

[2018-06-24 22:34] Yasvah commented on #1
I had the same issue, because I hadn't created a distribution list to sort my rooms. After adding the room it is displayed
https://technet.microsoft.com/en-us/library/ee633471(v=exchg.141).aspx

[2018-06-26 17:05] 9uan9 commented on #21
I noticed that it was displaying correctly for 1 of my rooms.  Upon comparing that to my other 6 rooms, I changed the names of the rooms to be 2 words instead of 3 words.  That didnt work.  I think because Identity was still the original even though display name was now 2 words.  So I deleted the rooms and recreated them.  That seems to have done the trick.  So "Main Conference Room" didnt work.

[2018-06-27 14:16] Yasvah commented on #21
If the option on room is "Accept or decline booking resquete automatically" by default the subject is replaced by the meeting organizer name in room mailbox. (the meeting subject can be confidantiel)
![image](https://user-images.githubusercontent.com/6206139/41978148-7ca5e00e-7a21-11e8-9438-ee3013559c49.png)
But in the meeting organizer's calendar subject isn't replaced.
You can change this behavi

[2018-07-16 04:57] 9uan9 commented on #5
I updated package.json and flightboard.config.js using ip address and it is still not refreshing.  Is there anything else that I should be looking at that may be causing this to not work for me?

[2018-07-19 01:49] danxfisher commented on #21
Closing since this is unrelated to the application and just standard behavior from Exchange.

[2018-07-19 01:49] #21 closed

[2018-07-19 01:51] danxfisher commented on #6
Late to the party, but #26 has moved the blacklist to the backend.  Room lists are also the easiest way to pull all meeting rooms without manually specifying them in some other configuration file.  This may be something to look at in the future but won't be implemented currently.

[2018-07-19 01:51] #6 closed

[2018-07-19 01:52] danxfisher commented on #17
Sorry this is late, but it's possible this could be related to the web browser (likely Safari).  Can you confirm if this is browser related?

[2018-07-19 01:56] danxfisher commented on #18
The warnings are fine.  I will fix them in the future but they should have no impact on performance.

[2018-07-19 01:56] #18 closed

[2018-07-19 05:58] qbihay commented on #17
Hello, no it's not browser related ( I try with Safari / chrome / Firefox).

[2018-07-19 07:16] danxfisher commented on #17
Thanks for clarifying.  Is this on the flightboard view or on the single page view?  I will test tomorrow.

[2018-07-21 04:08] danxfisher commented on #7
Apologies for how late this is, but that error means the service account provided ise not authorized to access the room calendar.  I will build a small Wiki page in the future to trouble shoot what seems to be the most common errors.

[2018-07-21 04:08] #7 closed

[2018-07-21 04:10] danxfisher commented on #17
I checked this out on an iPad with iOS 10.x and 11.x and both seem to appear as normal.  The flightboard portion will **not** show the day, only the single room view will.  This may be something I will explore in the near future, so I will leave this open as an enhancement.

[2018-07-21 22:55] danxfisher commented on #20
Can you clone or download the most recent release and see if you are getting the same error.  Also, what web browser are you using to view the web app?

[2018-07-22 00:31] danxfisher commented on #5
Try with the most recent release and see if this fixes any issues.  Thanks.

[2018-07-25 10:51] ChiscoBurgos opened #32 "Error in calling service, error code:401"
Hello there!
When I run the application but the website just loads the navbar:
![captura de pantalla de 2018-07-25 12-37-56](https://user-images.githubusercontent.com/16038825/43196363-f02c4cba-9007-11e8-8ab9-6131058f0d4a.png)

and the console returns:
![captura de pantalla de 2018-07-25 12-41-21](https://user-images.githubusercontent.com/16038825/43196450-30185710-9008-11e8-8d61-4250cc8be23d.png)

[2018-07-26 14:37] jtrimble613 commented on #5
Thanks!  The latest version seems to update fine!

[2018-08-01 13:07] qbihay commented on #17
Yeah, I think it's just a bug for the iOS 9.x

[2018-08-02 03:38] chrisdanevalla opened #36 "OAuth for MeetEasier"
Hi! We are using an 2F Authentication on our 365 Account, do you have an update in relation to this? Thanks!

[2018-08-06 07:44] chappers73 commented on #32
Any luck, I am struggling too. I have tried the connectivity tool (https://testconnectivity.microsoft.com/) and it appears to work correctly. I don't have a room list, is this a requirement? Still get 401 every time, not sure what I am missing?

![image](https://user-images.githubusercontent.com/37398843/43703532-ea3521d2-9954-11e8-9f92-7329eb3c01b3.png)

[2018-08-16 04:51] chappers73 commented on #32
Any update? I have other services/apps that work but I must be missing something? I have added impersonation etc to the Office365 config, added the RoomList via PowerShell, still no luck, same error 401.

[2018-08-16 11:30] chappers73 commented on #32
Fixed it, 2 things. 1. Removed the code process.env.USERNAME ||, PASSWORD & DOMAIN from auth.js and 2. Added the username I chose as a delegate to the rooms giving then full permissions. Incredible when it works, what great work! Many thanks.

[2018-09-04 14:45] jaumegaju opened #40 "Error in calling service, error code: 0"
Hello, first of all thanks for this awsome app.

Secondly, i cant handle a recurrent error that is driving me crazy.
The console sends nonerratics outputs until it shows up the "Error in calling service, error code:0" for each display connected and then repeats the "sending ews request" with result "Error 0" for hours until eventualy returns to the normal activity by itself.

Idk if i missed somet

[2018-09-12 16:05] lukaszgoworko opened #41 "✨ docker image"
How about creating an docker image with base images from https://hub.docker.com/_/node/
no problems with creating the right environment, or setting up an nginx for redirect to port 80 etc.

I will Contribute and could create a docker build file.

[2018-10-02 15:32] pompushko opened #42 "loading forever but i see good logs"
Hello

I installed MeetEasier without any problems, i can see all locations, but cannot press on it and see what in there.
On main screen loading forever :D

Any ideas?

![image](https://user-images.githubusercontent.com/20593903/46397412-de63b480-c6fa-11e8-8a14-3c4781a423bd.png)
![image](https://user-images.githubusercontent.com/20593903/46397423-e28fd200-c6fa-11e8-977d-f570c93f697c.png)

[2018-10-02 19:06] CodeNeedsCoffee opened #43 "Error in calling service, error code:401"
So I've been trying to troubleshoot this issue and hoping maybe someone can help 😂. Here's the terminal output:

[code]

I'm wondering if it's because of the ```Realm=""``` but I'm not sure where the code grabs the realm?
Any other thoughts would be greatly appreciated!

Cheers!

[2018-10-02 19:12] CodeNeedsCoffee commented on #43
NM, I followed @chappers73 comment from #40 and edited the auth.js as follows:

[code]
But now I have the never ending spinning issue.

[2018-10-02 19:12] #43 closed, assigned to nobody

[2018-10-02 23:18] 9uan9 opened #44 "Feature Request - Month View"
I think a month view would be a great feature.  Many users like to view all events overlayed on one monthly calendar view.

[2018-10-09 11:56] aydenleitch opened #45 "Feature Req: Support for Exchange 13 SP1"
Does this application support Exchange 2013 SP1 or is there anyway I can modify it so it does?

[2018-10-09 12:13] #45 closed, assigned to nobody

[2018-10-10 09:38] geofgeofgeof commented on #42
Hi,

Same for me
![image](https://user-images.githubusercontent.com/30525143/46727829-ae2f8f00-cc81-11e8-947c-5e28ac082320.png)

I'm pretty sure that my settings are good (Mailbox rights, ListRoom on O365, etc...)

I can see my Room List in the left panel but nothing in the body.

[2018-10-10 09:44] pompushko commented on #42
@geofgeofgeof hello.
i see similar issue :D

[2018-10-10 10:17] geofgeofgeof commented on #42
I guess the

In the Network tab can be a good way to understand the issue ...

[2018-10-10 10:34] pompushko commented on #42
im not sure...
i try install it on centos, debian. use nginx or lighttpd....
spend 2 days and have no any result)))

[2018-10-11 14:15] MFxMF commented on #42
Hi,
I facing the same issue. I think that this is related to the qty of meetings room in the o365.
In my organization is more than 100.
Is there any possiblity to limit the  meeteasier query to 1 specific meeting room?
I need single-room view.

[2018-10-11 15:17] pompushko commented on #42
i want use too. only for single room.
i see queries, but it sometimes freezing.

and i think creater forgot about that project)

[2018-10-16 16:07] geofgeofgeof commented on #42
@pompushko I think you are right, i'm searching for the way to only query few listrooms/rooms to test it, but i didn't find a way to achieve it yet.

[2018-10-22 11:27] rdmrm4g00 opened #46 "<noscript>You need to enable JavaScript to run this app.</noscript>"
<noscript>You need to enable JavaScript to run this app.</noscript>

Hi..

I get a spinning logo - no rooms - when inspecting network/ elements the above is listed.

Any help would be appreciated?

[2018-10-23 09:45] nvdlsl commented on #3
@danxfisher I'm running Exchange 2013 CU21 and MeetEasier shows a warning: _Oops, there seems to be an issue with the credentials you have supplied. Make sure you typed them correctly and that you have access to Exchange Roomlists._

I can logon using the same credentials on OWA and see al the meeting rooms.
How can i check what is wrong?

[2018-11-16 09:43] mnordstr opened #47 "Empty calendar causes blank screen error on return to free status"
Hi,

We have a single meeting room calendar on the display and everything seems to work ok. When a meeting is in progress and the screen shows busy and when the meeting is over and the screen should return to open (green) the screen goes blank and looking at the console I see the following error:

`TypeError: Cannot read property 'Subject' of undefined
    at s (main.d06b06f7.js:1)
    at beginWor

[2019-01-04 13:27] bkblie commented on #42
Any luck resolving this issue. Have the same here. Using O365

[2019-01-04 14:29] MFxMF commented on #42
@bkblie
I gave up. I stopped counted on this project. I found much more better solution.
PowerAPPS in O365. Now I'm developing my own solution to managing meeting rooms.

[2019-01-17 07:25] pompushko commented on #42
MeetEasier better solution ;(

[2019-01-17 13:53] bkblie commented on #42
there is an issue with a large number of rooms.
When using the room.blavklist for all rooms, and removing some of them from the list. The removed rooms where listed.

[2019-01-28 14:57] hashfunktion commented on #4
Are there any updates? I have the same error on my Server.

[2019-01-28 19:52] hashfunktion opened #48 "NTLM Support with ews-javascript-api-auth-ntlm2"
NTLM Support for authentication would be so great. We can't enable Basic Auth on our on-prem Exchange because some Compliances.
I have found this https://www.npmjs.com/package/ews-javascript-api-auth-ntlm2 and try to implement this but I´m not familiar with Javascript so I´m not able to implement this.

It would be great when you can try to implement this feature.
Best regards!

[2019-02-04 11:05] Threnklyn commented on #41
#49 Created Dockerfile

[2019-02-15 09:07] baraidrissa opened #50 "Google calendar support"
Does the app works using Google Calendar?

Thanks

[2019-02-20 08:36] Smus opened #51 "Invariant Violation: Minified React error #31"
Hi

We have had the dashboard running perfectly at the office yesterday. But today it started to fail.

im getting the error
`Invariant Violation: Minified React error #31;`
`Uncaught (in promise) Invariant Violation: Minified React error #31; `

I tried again with a clean git clone version of the project, and im getting the same error again.

Any ideas?

[2019-02-21 07:50] Smus commented on #51
Okay, this is strange, now it works again..
Maybe it was a hickup in Office365.

[2019-02-21 07:50] #51 closed, assigned to nobody

[2019-02-28 02:16] lemontea199 opened #52 "how to bind local data not ews"
hi, because my exchange server was a little bit out of style. so i used some special way to get the data from exchange and stored them in my sqlserver.  sqlserver data will be updated automatically every 5 mins.
so, i want to know how i can bind my data with this project? because i love this UI and design so much
thanks!

[2019-03-03 20:01] BjornEricsson opened #53 "Limit connections used?"
I keep getting "You have exceeded the available concurrent connections for your account" in my logs and the web-page never finish loading. Is there support for limit the number of the connections used? Either in MeetEasier or ews-javascript-api?

/BS

[2019-03-13 12:41] gautamsi commented on #48
you want to use [@ewsjs/xhr](https://github.com/ewsjs/xhr)
all other ews-javascript-library helpers for ntlm are depricated.

[2019-04-11 17:37] ghost opened #54 "24 hour clock?"
Is it possible to display a 24 hour clock instead of AM/PM?

[2019-04-17 10:11] misiekem opened #55 "Does not work after "Add to home screen" on iOS"
Hi, when adding the app to ios homescreen for pwa feel (hidden navigation bar in safari and transparent status bar) it will stop working - NotFound.js will be served

This might be some hints:
[https://stackoverflow.com/questions/45666525/create-react-app-not-working-when-added-to-android-home-screen](url)
[https://ayastreb.me/react-router-in-home-screen-pwa/](url)

[2019-05-05 16:50] TerrorSource opened #56 "Issue installing on a Pi"
Does anyone have a fix for this?

[code]

[2019-05-05 19:24] TerrorSource commented on #42
Same issue here.

Running it in a Demo tentant with 1 room mailbox is also causing this issue so a large number of meeting rooms isn't causing this issue.

When you open host:8080/socket.io you see the following message:
"Sorry :(
Either there was an error in processing or this page does not exist."

[2019-05-05 20:08] TerrorSource commented on #56
Issue solved by updating nodejs and npm.

[2019-05-05 20:08] #56 closed, assigned to nobody

[2019-05-05 20:20] TerrorSource opened #57 "UnhandledPromiseRejectionWarning"
I created 3 room mailboxes in an demo azure tenant.
MeetingRoom1
MeetingRoom2
MeetingRoom3

Created a test meeting in all 3 room's which was automatically accepted.
Created a Distribution List named "Rooms" and added all 3 meetingrooms in it
`New-DistributionGroup -Name "Rooms" -DisplayName "Rooms" -PrimarySmtpAddress "rooms@xxx.onmicrosoft.com" -RoomList`
`Add-DistributionGroupMember -Identity "R

[2019-05-21 21:02] 9uan9 commented on #17
Is this the expect behavior that the flightboard not show the date for the next up events?

[2019-05-22 07:45] qbihay commented on #17
9uan9, yeah that the expect behavior and the the current issue on the old Ipad.
I plan to try the news version of the build.
I will keep you inform.

[2019-05-24 09:14] qbihay commented on #17
So i try the new version.
On a recent OS : the single-room display correctly the date (MON 09:00 - 10:00) but on the old iOS 9 it display like that :  09:00:00 CEST - 10:00:00 CEST but no info for the date.

[2019-06-14 09:20] pompushko commented on #42
and it will work?
which count of rooms work perfect?

[2019-07-09 04:04] gopihc commented on #1
This worked for me..

[2019-07-11 15:29] Collie147 opened #58 "Issue with the credentials you have supplied"
I can't seem to get it to work, I keep getting the following "Oops, there seems to be an issue with the credentials you have supplied.  Make sure you typed them correctly and that you have access to Exchange Roomlists".  I've tested it out with EWSEditor (https://github.com/dseph/EwsEditor ) and it all works fine.  I've even written some .net scripts to test and I can pull down the rooms that way

[2019-07-12 10:45] Collie147 commented on #57
I've got the same issue, change it to the below it and it should work

`var view = new ews.CalendarView(ews.DateTime.Now, new ews.DateTime(ews.DateTime.Now.TotalMilliSeconds + 864000000), 6);`

[2019-07-19 09:04] linkinlxm commented on #58
i have the same problem

[2019-07-19 15:19] Collie147 commented on #58
I managed to get it working. I had to use NTLM and set it to ignore certificate errors, using https://github.com/gautamsi/ews-javascript-api-auth

[2019-07-19 15:19] #58 closed, assigned to nobody

[2019-08-02 16:27] Collie147 opened #59 "Book Now button"
Awesome work by the way.  How easy/hard/complicated would it be to incorporate a book now button on the single-room screen for impromptu meetings.  I'm a novice with JS and totally new to node, but I'm giving it a go nonetheless.

What I'm trying is :

1. to check is if the room is free display the button to book now.
2. If its busy and there is no concurrent meeting display another button to exte

[2019-09-03 10:40] jozefnad commented on #43
Hello, have you found the solution? I have the same issue with never ending spinning :/

[2019-10-04 17:44] Khahory opened #61 "Error in calling service, error code:0"
![image](https://user-images.githubusercontent.com/46386012/66228254-f0c95300-e6ac-11e9-9a82-4a5665374414.png)

Mmm, I can make the company that has the firewall of us accept a link so that the firewall does not block the execution of the App, the problem is that the request of the room and roomList lasts a long time. Sometimes it works or others do not (when I am connected to the network of the c

[2019-10-12 12:19] DanySupernova commented on #47
I have same issue, how did you solve it?

Thank you very much!

[2019-10-14 13:10] DanySupernova commented on #47
I installed version 0.3.3 and it works, I don't know why. I have 2013 on prem

[2019-10-15 07:52] mnordstr commented on #47
Hi, never managed to solve it. We refresh the whole page quite often (show other things on the display also) so the error will not show up for long normally.

[2019-10-15 13:40] zkenstein commented on #3
Did you resolved for onprem @nvdlsl

[2019-10-16 07:03] zkenstein commented on #1
do you solved this?

[2019-10-16 07:36] zkenstein opened #62 "No Data to display"
Hi, After successful install in page browser not showing rooms list, only spinning with in console log got: :`8080/api/rooms net::ERR_EMPTY_RESPONSE` anyone faced this issue?

Thanks,

[2019-10-16 08:47] zkenstein commented on #62
Fixed.

[2019-10-16 08:47] #62 closed, assigned to nobody

[2019-10-16 08:51] zkenstein commented on #44
bump

[2019-10-16 13:41] Gajack33 commented on #59
@Collie147, Thanks for your update, very usefull.

Do you know if it's possible to add a button "Book Ended" to press when your meeting is over before before the end time ? I searched a little and i don't find any parameters to edit a meeting time ...

Do you already looked for it and found something?

[2019-10-17 07:30] agusmanfajri commented on #32
hello chappers73,

can you capture the auth.js that changed, and do you add roomlist from o365 or powershell?

[2019-10-18 07:19] Yasvah commented on #1
Have you created a distribution list for the rooms?

[2019-11-04 15:32] schmidtpalexander commented on #54
Hi! It's quite easy to change.
In ui-react/src/components/flightboard/clock.js change
{this.state.date.toLocaleTimeString()}
to {this.state.date.toLocaleTimeString('sv-sv')} for Swedish time. Change sv-sv to whichever locale you need. If you are using the single room version, change the Clock.js in that folder.

[2019-11-06 14:40] patrick-schwyter commented on #32
Hello
I have the same problem, could you solve the problem in the meantime?

[2019-11-11 06:56] Eisbaeeer commented on #59
Both request will be fine and genius.

[2019-11-20 11:44] Collie147 commented on #59
I've forked my own version and added buttons and functions.  I haven't built it from the github files though I intend on doing so at a later date.

https://github.com/Collie147/MeetEasier

[2019-11-20 11:44] #59 closed, assigned to nobody

[2019-11-25 17:42] Guile17 commented on #62
Hey @zkenstein, could you share what did you do to fix this issue? Tx

[2019-11-25 18:13] zkenstein commented on #62
Hi @Guile17 ,

You need to add existing rooms to the room list, I tried from GUI but not worked, on my case, what I did is connect the mailbox to Powershell and than run the following command to add existing rooms to the room list

`Add-DistributionGroupMember <RoomListName> -Member <RoomMailbox>
`

Hope this help

[2019-12-08 17:52] olsonnn commented on #54
Edge shows the correct time here 24h. but chrome or vivaldi not
The clock is fine but other times are still in AM/PM

[2019-12-09 15:40] olsonnn commented on #54
ok not sure why but fixed with this line
 {weekday: 'short', hour: '2-digit', minute: '2-digit', 'hour12': false})

[2020-01-14 00:01] alhadib opened #65 "Flightboard and Single Room display (Field for Meeting Subject)"
Hi, I managed to get the system up and running. Thanks to developers and contributors. I have some questions:
1. How do I change (in my flightboard and single room display) the meeting subject? At the moment, the field is populated with the name of the person doing the booking (marked in red). It is different as in mockup display.
![Meeteasier singleroom](https://user-images.githubusercontent.com/

[2020-01-15 10:26] IQNeoXen commented on #42
Has anybody got this to work? Got the same issue

[2020-01-15 15:43] IQNeoXen opened #66 "MeetEasier unusable: Update ews-javascript-api to latest version"
This is basically a duplicate of #42 so please read it first...

I think it has something to do with a 3 year old version of the ews-javascript-api. I tried using the latest version (0.10.0 instead of 0.8.0 used in this repo) but it seems like something has fundamentally changed in the newer version.

I have absolutely nothing to do with nodejs and can't fix it myself but if anyone wants to look i

[2020-01-31 18:35] #61 closed, assigned to nobody

[2020-02-24 05:57] appsectr commented on #32
Is it working on on-prem exchange?

[2020-03-02 19:45] grichardomi opened #67 "Error Running npm run build"
Following the installation steps, I got this error while running "npm run build"

"23 error Failed at the meet-easier@ build script 'cd ui-react && npm run build'."

Does anyone have any idea?

[2020-03-02 21:11] grichardomi commented on #67
cd  ui-react
npm install

I get the following error:
1. ./src/components/global/Socket.js
  Line 1:  'React' is defined but never used  no-unused-vars

2. ./src/components/flightboard/Flightboard.js
  Line 55:  'now' is assigned a value but never used  no-unused-vars

Search for the keywords to learn more about each warning.
To ignore, add // eslint-disable-next-line to the line before.

[2020-03-02 21:12] grichardomi commented on #67
That was "npm start" that I ran.

[2020-10-31 14:53] dermatou commented on #48
NTLM has been added on this fork! Enjoy: https://github.com/dermatou/MeetEasier-Display
(I'm not merging it as it removes basic auth)

[2021-03-28 11:18] kwiatekp commented on #65
With a Rooom Mailbox you can configured the Automatic processing setting using Remote Power-shell and the set-calendarprocessing cmdlet see http://technet.microsoft.com/en-us/library/dd335046(v=exchg.150).aspx eg

With your particular issue the Mailbox has been configured using the DeleteSubject parameter which "specifies whether to remove or keep the subject of incoming meeting requests. Valid in

[2021-05-06 14:27] nutt318 commented on #36
Same, looks like basic auth is gone now. https://techcommunity.microsoft.com/t5/exchange-team-blog/upcoming-changes-to-exchange-web-services-ews-api-for-office-365/ba-p/608055

Having issues from Oct. 13th 2020

[2021-05-09 08:29] privatesam commented on #42
I had similar problems to everyone on this issue but managed to solve it. My problem stemmed from permissions on the room mailboxes. The service account I use to authenticate with O365 require "Full Access" permission on each and every room mailbox. I also changed a deeper setting in Exchange Online to give the service account "Account Impersonation" rights. My console logs didn't look identical t

[2021-05-09 10:02] hungtrungthinh opened #71 "Meeting Subject"
It seems to have a GET "Meeting Subject" error. Has anyone made the same issues as me? Organizer and Subject are now displayed in the same way :|

[2021-10-07 17:43] canoas opened #72 "process.env.USERNAME won't work in WINDOWS"
The choice of using an environment var with this name makes a lot of 401 auth erros simply because no mater what you put on auth.js, the code will always revert the the logged in windows USERNAME and the authentication in Office365 will only work if the developer is testing with his own corporate account.
Related issues:
#32
#4
#43
Using another convention solves this: e.g. USRNAME

[2021-11-10 09:45] FlamingFlamingo42 commented on #47
Is there any fix to that? Still having this problem in the newest version.

To reproduce:
Simple create an Event starting before current time and ending in the future. After the Singleroom screen changes to red, cancel the event.

[2021-11-11 10:15] FlamingFlamingo42 commented on #47
I found a fix.
In RoomStatusBlock.js the check for `details.appointmentsExists` doesn't work as intended.
Simply changing to `details.appointmentsExists && room.Appointments.length > 0` fixed the problem for me.

Here is the whole class:
https://pastebin.com/bxTrH4zJ

[2021-11-12 08:43] FlamingFlamingo42 opened #74 "Make groups accessible via url"
Hi,

we use the program in different production facilities. Would it be possible to access the different groups directly via url, without using the dropdown menu? That would make automating a lot easier.

[2022-05-19 20:55] fkmeland commented on #36
Hi, not sure if this project is alive here anymore, but I`m currently working on moving from EWS to MSGRAPH as EWS is retiring later this year.

The apis has been updated and I do have a working POC in the branch feat/msgraph of my repo. (might have broken something tonight though 😆, need ☕)

Any interest in me creating a PR? Not sure if the authors here are active, since there is already 8 PR`s h

[2022-10-10 16:21] MaxReck opened #77 "No Longer Working"
Since this uses Basic Authentication, the tool is no longer working

[2022-10-12 16:14] canoas commented on #77
After October 1 2022 Exchange no longer supports basic auth
[https://learn.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/deprecation-of-basic-authentication-exchange-online#:~:text=In%20September%202021,2021%20Update](https://learn.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/deprecation-of-basic-authentication-exchange-online#:~:text=In%20September%20202

[2022-10-12 21:11] jordanoceros commented on #77
This sucks so much you can postpone the basic authentication until January as 365 admin all the other raspberry pi options are subscription based garbage on top of the exchange mailbox paid service. I'm trying some different scripts that might be able to use/save modern auth to this but idk. If we can not make this work does anyone have any better solutions?

[2022-10-24 08:12] olsonnn commented on #77
So sad! i hope somebody can fix it!

[2022-11-01 09:03] olsonnn commented on #77
good news here!!!!
https://github.com/probits-as/MeetEasier/commit/72c9bdbbebaed5a54a56a8b9f92d8d7ffbdb9193#commitcomment-86755485

got it working again!

[2022-11-01 10:53] MaxReck commented on #77
Just to be sure this implementation uses another way of authenticating like OAuth?

[2022-11-01 17:55] olsonnn commented on #77
Looks like you missed the step by step install on that page (scroll)

[2022-11-01 20:22] fkmeland commented on #77
Yes, this uses the Microsoft Graph API instead of the deprecated EWS API, and authenticates with OAuth.

I have updated the README in my repository with a better guide (hopefully) on how to register a application in azure ad to get the required credentials to use with the application.

https://github.com/probits-as/MeetEasier

[2022-11-02 09:54] kaktuseek commented on #77
@fkmeland Many thanks!! The app is working again. Just a little thing - in your .env.template, you swapped the OAUTH_AUTHORITY and OAUTH_CLIENT_SECRET.

[2022-11-02 10:02] fkmeland commented on #77
Glad you got it working again, and thanks for letting me know about the error in the docs, they have been corrected 😊